<label class="large-label">
    {{#each columnTitleAttrs as |columnTitleData| }}
        <span>
        {{#if columnTitleData.text}}
            {{columnTitleData.text}}
        {{/if}}
        {{!-- @todo Get icons to show up in same row. --}}
        {{#if columnTitleData.iconList}}
            {{two-col-select-icon-popover iconList=columnTitleData.iconList }}
        {{/if}}
        </span>
    {{/each}}
</label>
{{yield}}