<div class="two-col-select-popover-row-container">
  {{#each iconList as |icon| }}
    {{#unless icon.modal}}
      {{#if icon.tooltip}}
        <a class="pointer" title="{{icon.tooltip}}"><i class="fa {{icon.icon}} {{icon.class}}"></i></a>
      {{else}}
        {{#twbs-popover placement="bottom" popoverTrigger="click" as |popover|}}
          {{#popover.trigger}}
            <a id="toggle-popover" class="pointer"><i class="two-col-select-icon-popover {{icon.icon}} fa {{icon.class}}"></i></a>
          {{/popover.trigger}}<i class="fa" aria-hidden="true"></i>

          {{#popover.content}}
          <div class="row two-col-select-popover-container">
            <span class="two-col-select-popover-title"> {{icon.title}} </span>
            <span class="two-col-select-popover-message"> {{icon.message}} </span>
          </div>
          {{/popover.content}}
        {{/twbs-popover}}
      {{/if}}
    {{else}}
      <a id="toggle-modal" class="pointer" {{action "showModal" icon.modalId}}><i class="two-col-select-icon-modal {{icon.icon}} fa {{icon.class}}"></i></a>
      {{#bootstrap-modal modalId=icon.modalId class="two-col-select-modal" backdrop="static" keyboard="false" modalSize="modal-lg"}}
        {{#bootstrap-modal-header modalId=icon.modalId cancelButton=true}}
          {{icon.title}}
        {{/bootstrap-modal-header}}
        {{#bootstrap-modal-body}}
          <h3>{{icon.subtitle}}</h3>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-condensed">
                <tbody>
                  {{#each icon.rows as |row|}}
                  <tr>
                    <td>{{row.title}}</td>
                    {{#if (eq row.type 'text')}}
                      <td>{{row.value}}</td>
                    {{else if (eq row.type 'icons')}}
                      <td>
                        {{#each row.value as |icon|}}
                          <i class="fa {{icon}}" aria-hidden="true"></i>
                        {{/each}}
                      </td>
                    {{else if (eq row.type 'ul')}}
                      <td>
                        <ul>
                          {{#each row.value as |value|}}
                            <li>{{value}}</li>
                          {{/each}}
                        </ul>
                      </td>
                    {{else if (eq row.type 'ol')}}
                      <td>
                        <ol>
                          {{#each row.value as |value|}}
                            <li>{{value}}</li>
                          {{/each}}
                        </ol>
                      </td>
                    {{/if}}
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        {{/bootstrap-modal-body}}
        {{#bootstrap-modal-footer}}
          <button type="button" class="btn btn-default" {{action "closeModal" icon.modalId}}>Close</button>
        {{/bootstrap-modal-footer}}
      {{/bootstrap-modal}}
      {{yield}}
    {{/unless}}
  {{/each}}
</div>
