<div id="two-col-row-right-tab-{{item.id}}" class="two-col-select-item" data-uid={{item.id}}>

  <span class="two-col-cell-label" data-uid={{item.id}}>
     {{item.label}}
  </span>

  <span class="two-col-cell-icon" data-uid={{item.id}} >
     {{#if item.icon}} <a href="#" data-toggle="tooltip" data-placement="auto right" title="{{item.icon.hoverText}}"><i class="fa {{item.icon.faIcon}}" aria-hidden="true"></i></a>{{/if}}
  </span>

</div>
